* {
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__header {
  width: 100%;
  height: 90px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.news {
  font-family: Malgun Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: justify;
  color: #55b2d4;
}

.today_story {
  font-family: Sci Fied Bitmap;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 8px;
  text-align: justify;
  letter-spacing: -0.08em;
  color: #000000;
}

.good {
  font-family: Malgun Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: justify;

  color: #999999;
}

.wrapper__body {
  width: 100%;
  height: 300px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my_video {
  font-family: Malgun Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: justify;
  color: #55b2d4;
}

.introduce {
  font-family: Sci Fied Bitmap;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 8px;
  text-align: justify;
  letter-spacing: -0.08em;
  color: #000000;
}

.screen {
  width: 464px;
  height: 240px;
}
